<div>
<button class="time-line"><%=link_to 'RorBook-timeLine', root_path%></button>
<button class="user-search"><%=link_to 'Users Index', users_path%></button>
<button class="user_profile"><%=link_to 'User Profile', user_path(current_user)%></button>
</div>