<p>Messages between: <%=User.find(@room.user_id).username%> & <%=User.find(@room.receiver_id).username%></p>


<%=render 'message', messages: @messages%>

<%= render 'messages/send_message', room: @room%>


